        <section class="taller" id="taller">
          <div class="taller--fondo"></div>
          <div class="taller--div">
            <div class="taller--text">
              <h4 class="display-5 text-white">Area Taller</h4>
              <div>
                <i class="fa-solid fa-car icono--taller" ></i>
                <i class="fa-solid fa-wrench icono--taller"></i>
                <i class="fa-solid fa-screwdriver icono--taller"></i>
              </div>
              <p class="text-white serviciosTaller">Normal</p>
              <form action="" class="taller--form">
                <label for="">Usuario</label>
                <input type="text">
                <label for="">Contraseña</label>
                <input type="password">
                <button type="submit" class="btn btn-dark submit">Iniciar Sesión</button>
              </form>
              <div class="taller--usuario">
                <a href="" >Registrarse</a> 
                <a href="" >Olvide mi contraseña</a>
              </div>              
            </div>            
          </div>
        </section>